{% extends 'base.html' %}

{% block content %}
<body>
    <h1>Sign-Up Form</h1>
  <div class="signup-form">
    <form action="/signup", method='POST'>
      <div class="form-item">
        <label for="username">Username</label>
        <input class="form-control" type="text" name="username" id="username" placeholder="username" value="{{ request.form['username'] }}" />
        <p class='error'>{{ user_error }}</p>
      </div>
      <div class="form-item">
        <label for="email">Email</label>
        <input class="form-control" type="text" name="email" id="email" placeholder="username@mail.com" value="{{ request.form['email'] }}" />
        <p class='error'>{{ email_error }}</p>
      </div>
      <div class="form-item">
        <label for="password">Password</label>
        <input class="form-control" type="password" name="password" id="password" placeholder="********" />
        <p class='error'>{{ pass_error }}</p>
      </div>
      <div class="form-item">
        <label for="passwordVerify">Verify Password</label>
        <input class="form-control" type="password" name="passwordVerify" id="passwordVerify" placeholder="********" />
        <p class='error'>{{ verify_error }}</p>
      </div>
      <div class="form-item">
        <input class="submit" type="submit" value="Register" />
      </div>
    </form>
  </div>
</body>
{% endblock %}